extends layout

block content
  .container
    .card(style="width: 18rem;")
      img(src="..." class="card-img-top" alt="...")
      .card-body
        h5.card-title Card title
        p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
        a(href="#").btn.btn-primary Go somewhere